<!-- templates/create_update.html -->
{% extends 'base.html' %}
{% block title %}{{ action }} Item{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-4">{{ action }} Item</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">{{ action }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}